<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 20px;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">

            <div class="container">
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <img class="img-thumbnail rounded" src="https://picsum.photos/200/150" alt="">
                    </div>
                    <div class="col-sm">
                        <h1>
                            <%- Item.name %>
                        </h1>
                        <p>
                            <strong>Description:</strong>
                            <%- Item.description %>
                        </p>
                        <p>
                            <strong>$$$</strong>
                            <%- Item.price %>
                        </p>
                        <p>
                            <strong> Date added:</strong>
                            <%- Item.createdAt.toDateString() %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>