<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 20px;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
                    <h1>Online Store</h1>
                    <%- include('../partials/addItem') %>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            <% if( allItems.length> 0){ %>
                                <% allItems.forEach(element=> {%>
                                    <%- include('../partials/item', {element: element}) %>
                                        <%});%>
                                            <% }else { %>
                                                <br>
                                                <h2>No items included.</h2>
                                                <% } %>
                        </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>