<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">

            ID: <%- Item.id%>
                <%- Item.name%>
        </h5>
        <p class="card-text">
            <%- Item.description%>
        </p>
        <p class="card-text">
            <span>Price: </span>
            <%- Number(Item.price).toLocaleString('ua-UA') %>
                <span>₴</span>
        </p>
        <a href="detail/<%- Item.id %>" class="btn btn-outline-info">Detail</a>
        <a href="detail/<%- Item.id %>/delete" class="btn btn-outline-danger">Delete</a>
    </div>
</div>