<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/150" alt="Card image cap">
    <div class="card-body ">
        <h5 class="card-title " style="overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;">
            <%- Item.name%>
        </h5>
        <p class="card-text overflow-hidden" style="width: 15rem; height: 3rem;">
            <%- Item.description%>
        </p>
        <p class="card-text">
            <span>Price: </span>
            <%- Number(Item.price).toLocaleString('ua-UA') %>
                <span>₴</span>
        </p>
        <a href="detail/<%- Item.id %>" class="btn btn-outline-info">Detail</a>
        <a href="detail/<%- Item.id %>/delete" class="btn btn-outline-danger">Delete</a>
    </div>
</div>